h1 {
    font-family: 'Arial';
}

.images {
    display: flex;
}

.images img {
    width: 200px;
    height: 200px;
}

.hidden {
    display: none;
}

#insert {
    padding: 15px;
    border: 1px solid blue;
}

#insert .middle {
    height: 20px;
    background: blue;
}

.twins {
    margin-bottom: 15px;
}